version: '3.8'
services:
  redis:
    image: redis:alpine
    container_name: redis-service
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network
    env_file:
      - .env

  app:
    build: .
    container_name: go-app
    depends_on:
      - redis
    networks:
      - app-network
    env_file:
      - .env

volumes:
  redis_data:

networks:
  app-network:
    driver: bridge